@page
@using MyContainer.Resources.Pages.Users
@model MyContainer.Pages.Containers.Index
@inject IStringLocalizer<UserPage> Localizer
<p>
    <a asp-page="Upsert" class="btn btn-primary">@Localizer["Create"]</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Number</th>
        <th>@Localizer["ContainerType"]</th>
        <th>@Localizer["TotalPrice"]</th>
        <th>@Localizer["Customer"]</th>
        <th>@Localizer["CreatedAt"]</th>
        <th>@Localizer["LoadingDate"]</th>
        <th>@Localizer["Actions"]</th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var container in Model.Containers)
    {
        <tr>
            <td>@container.Number</td>
            <td>@container.ContainerType</td>
            <td>@container.TotalPrice.ToString("G29")</td>
            <td>@container.User.Name</td>
            <td>@container.CreatedAt</td>
            <td>@container.LoadingTime.ToString("g")</td>
            <td>
                <a asp-page="Upsert" asp-route-id="@container.Id" class="btn btn-warning">@Localizer["Edit"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>