@page
@using MyContainer.Enums
@model MyContainer.Pages.Transactions.Index
<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Created At</th>
        <th>CreditAmount</th>
        <th>DebitAmount</th>
        <th>Transaction Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.User.Name</td>
            <td>@transaction.CreatedAt.ToString("g")</td>
            <td style="color:green">@transaction.CreditAmount.ToString("G29")</td>
            <td style="color:red">@transaction.DebitAmount.ToString("G29")</td>
            <td>
                @transaction.TransactionType
            </td>
        </tr>
    }
    </tbody>
</table>