@page
@using MyContainer.Resources.Pages.Users
@model MyContainer.Pages.Users.Index
@inject IStringLocalizer<UserPage> Localizer


<p>
    <a asp-page="Create" class="btn btn-primary">@Localizer["Create New User"]</a>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>@Localizer["ID"]</th>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Phone"]</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Phone</td>
            <td>
                <a asp-page="Edit" asp-route-id="@user.Id" class="btn btn-warning">@Localizer["Edit"]</a>
                <a asp-page="Delete" asp-route-id="@user.Id" class="btn btn-danger">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>